
$base-fonts: '../fonts/';
@font-face {
	font-family: 'HK Grotesk';
	src: url('#{$base-fonts}HKGrotesk-Bold.eot');
	src: url('#{$base-fonts}HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$base-fonts}HKGrotesk-Bold.woff') format('woff'),
		url('#{$base-fonts}HKGrotesk-Bold.ttf') format('truetype'),
		url('#{$base-fonts}HKGrotesk-Bold.svg#HKGrotesk-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HK Grotesk';
	src: url('#{$base-fonts}HKGrotesk-Regular.eot');
	src: url('#{$base-fonts}HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$base-fonts}HKGrotesk-Regular.woff') format('woff'),
		url('#{$base-fonts}HKGrotesk-Regular.ttf') format('truetype'),
		url('#{$base-fonts}HKGrotesk-Regular.svg#HKGrotesk-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
