$heading-styles-fz: (
  small: (
    'h1': ('font-size': 30),
    'h2': ('font-size': 25),
    'h3': ('font-size': 22),
    'h4': ('font-size': 18)
  ),
  medium: (
    'h1': ('font-size': 45),
    'h2': ('font-size': 35),
    'h3': ('font-size': 25),
    'h4': ('font-size': 20)
  )
);

$header-styles-extend: (
  'h1': (
    font-weight: bold
  ),
  'h2': (
    margin-bottom: map-get($box-margin, default),
    font-weight: normal,
    letter-spacing: 1px
  ),
  'h3': (
    font-weight: normal,
    margin-bottom: map-get($box-margin, default),
    letter-spacing: 1px
  ),
  'h4': (
    font-weight: bold,
    margin-bottom: map-get($box-margin, default),
    letter-spacing: 1px
  )
);

.heading {
  @each $breakpoint, $headings in $heading-styles-fz {

    @include breakpoint($breakpoint) {

      @each $heading, $heading-def in $headings {

        &.#{$heading} {
          $font-size: rem-calc(map-get($heading-def, font-size));

          font-size: $font-size;

          @include line-height($font-size);

          @if $breakpoint == small {
            $heading-extend: map-get($header-styles-extend, $heading);

            @each $attribute, $value in $heading-extend {
              #{ $attribute }: $value;
            }
          }
        }
      }
    }
  }

  &.--alt-white {
    color: $white;
  }

  &.--alt-margin {
    margin: 0;
  }
}
