@mixin button-style (
  $background: $button-background,
  $background-hover: $button-background-hover,
  $color: $button-color,
  $background-hover-lightness: $button-background-hover-lightness
) {
  @if $color == auto {
    $color: color-pick-contrast($background, ($button-color, $button-color-alt));
  }

  @if $background-hover == auto {
    $background-hover: scale-color($background, $lightness: $background-hover-lightness);
  }

  background-color: $background;
  background-image: linear-gradient(240.68deg, transparent 0%, lighten($background, 4%) 45.17%, lighten($background, 12%) 100%);
  color: $color;

  &:hover, &:focus {
    background-color: $background-hover;
    background-image: linear-gradient(240.68deg, transparent 0%, lighten($background, 5%) 45.17%, lighten($background, 12%) 100%);
    color: $color;
  }
}


.button {
  font-weight: bold;

  @include transition;

  text-shadow: map-get($global-shadow, text);

  // Colors
  @each $name, $color in $button-palette {
    @if $button-fill != hollow {
      &.#{$name} {
        @include button-style($color, auto, auto);
      }
    }
  }

  &:not(.hollow) {
    border: 0;
  }
}
