.section-benefits {
  position: relative;
  padding-top: map-get($box-padding, large);
  padding-bottom: calc(#{map-get($box-padding, large)} + #{map-get($box-padding, default)});

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: -1px;
    bottom: -1px;
    left: -1px;
    width: 100%;
    background-image: url('../img/mask-footer.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 105%;
  }
}

.benefit-icon {
  margin-bottom: map-get($box-margin, default);
}
